*{
  margin: 0;
  padding: 0;
  font-family: "Chivo", sans-serif;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  border-style: none;
}
body {
  background:#f8f8f8;
}

#container{
  padding-inline: 14%;
  width: 100%;
}
#wsp{
  position: fixed;
  top: 80%;
  left: 90%;
  height: 9rem;
  width: auto;
  cursor: pointer;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.4));
  
}