#header{
    background-color: #010101;
    height: 9rem;
    display: flex;
    padding-inline: 14%;
    align-items: center;
    color: white;
}
.logo-header{
    height: 8rem;
    width: auto;
    display: flex;
    padding-inline-start: .5rem;
}
.header-section{
    display: flex;
    font-size: 1.03rem;
    align-items: center;
    width: 100%;

}
.header-section a{
    cursor: pointer;
    transition: all 0.3s; 
    padding: .5rem;
    &:hover{     
        color: #000000;
        background-color: #e8f009;
    }
}
.searcher-container{
    padding-inline-start: 3rem;
}
.log-shop{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-inline-start: 3rem;
  }
.log-shop div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .4rem;
    gap: .5rem;
    cursor: pointer;
    transition: all 0.3s;
    & span{ color: chartreuse;}
    &:hover{
        background-color: #e8f009;
        color: #000;
        & span{ color: #000;}
    }
}
.header-section-2{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    background-color: #e8f009;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    
}
.header-section-2 a{
    cursor: pointer;
    transition: all 0.3s; 
    padding: .5rem;
    &:hover{     
        color: #000000;
        background-color: #e8f009;
    }
}